@import "tailwindcss";

.header {
    background-color: #141414;
    color: azure;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    position: relative;
}

.app-logo {
    height: 40px;
    display: flex;
    align-items: center;
}

.applogo-img {
    height: 100%;
    width: auto;
    max-width: 150px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.applogo-img:hover {
    transform: scale(0.8);
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 3000ms ease-in-out, filter 3000ms ease-in-out;
}

.nav-menu:has(:hover) :not(:hover) {
    transform: scale(0.8);
    filter: blur(1px);
}

.nav-menu .nav-list {
    margin-right: 2rem;
    cursor: pointer;
    font-size: 1.3em;
    list-style: none
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 1.9rem;
    height: 0.15rem;
    background: azure;
    transition: all 0.5s ease-in-out;
}

.bar:nth-child(even) {
    margin: 0.5rem 0;
}

@media only screen and (max-width:850px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .nav-menu {
        position: absolute;
        flex-direction: column;
        top: 4.6rem;
        background-color: #141414;
        width: 100%;
        right: -100%;
        transition: all 1s ease-in-out;
        border-radius: 10px;
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-list {
        padding-bottom: 15px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10.5px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-10.5px) rotate(-45deg);
    }
}
